<div id="welcome-overview">
  <div class="h-screen flex" id="welcome">
    <div class="flex justify-between container mx-auto">
      <%= image_tag "logo.png", class: "h-20" %>
      <div class="flex flex-row h-20 items-center">
        <%= link_to "Sign Up", "#", class: "text-white p-2 h-10" %>
        <%= link_to "Sign In", "#", class: "bg-red-500 text-white p-2 h-10 border border-red-500 rounded-sm" %>
      </div>
    </div>
  </div>
</div>